header {
    height: 66px;
    background-color: #141414;
}

.header-content {
    height: 68px;
    display: flex;
    justify-content: space-around;
}

.logo {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 326px;
    height: 136px;
    background-color: #99823D;
    z-index: 20;
    margin-left: 74px;
}

.navigation {
    width: 978px;
    height: 68px;
   display: flex;
   justify-content: space-between; 
   align-items: center;
}

.nav-text {
    width: 139px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 0;
    color: #FFF;
    text-align: center;
    font-family: Open Sans;
    font-size: 10px;
    font-style: normal;
    font-weight: 400;
    line-height: 15.3px;
}

.nav-text span {
    color: rgba(255, 255, 255, 0.75);
    text-align: center;
    font-family: Open Sans;
    font-size: 9px;
    font-style: normal;
    font-weight: 400;
    line-height: 15.3px;
}

.nav-list {
    width: 559px;
    height: 33px;
    display: flex;
  justify-content: space-between;
  align-items: center;
}

.nav-list-item {
    margin: 0;
    

    list-style-type: none;
}

.nav-list-link {
    text-decoration: none;
    color: #FFF;
    font-family: Open Sans;
    font-size: 11px;
    font-style: normal;
    font-weight: 400;
    line-height: 34px;
    letter-spacing: 2.763px;
    text-transform: uppercase;
}

.Vantage-studio {
    position: relative;
    background: #141414;
    height: 655px;
}

.Vantage-studio-content {
    width: 1300px;
    margin: 0 auto;
}

.Vantage-studio-card {
    position: absolute;
    top: 60px;
    left: 761px;
    background: #FFF;
    width: 449px;
    padding: 67px;
    z-index: 20;
}

.Vantage-studio-name {
   color: #99823D;
    font-family: Open Sans;
    font-size: 11px;
    font-style: normal;
    font-weight: 400;
    line-height: 16.575px; 
    letter-spacing: 2.763px;
    text-transform: uppercase;
    margin: 0;
}

.Quote {
    color: #141414;
    font-family: Teko;
    font-size: 67px;
    font-style: normal;
    font-weight: 400;
    line-height: 67.031px; 
    text-transform: capitalize;
    margin: 0;
    margin-bottom: 32px;
}

.Vantage-studio-text {
    color: #141414;
    font-family: Open Sans;
    font-size: 17px;
    font-style: normal;
    font-weight: 400;
    line-height: 25.5px;
    margin: 0; 
}

.Vantage-studio-btns {
    display: flex;
    padding: 0;
    gap: 17px;
}

.Vantage-studio-btn1 {
    color: #FFF;
    text-align: center;
    font-family: Open Sans;
    font-size: 12px;
    font-style: normal;
    font-weight: 400;
    line-height: 17.85px; /* 148.75% */
    letter-spacing: 2.975px;
    text-transform: uppercase;
    padding: 0;
    padding: 24px 69px;
    background-color: #99823D;
    border: none;    
    cursor: pointer;
}

.Vantage-studio-btn2 {
    color: #FFF;
    text-align: center;
    font-family: Open Sans;
    font-size: 12px;
    font-style: normal;
    font-weight: 400;
    line-height: 17.85px; /* 148.75% */
    letter-spacing: 2.975px;
    text-transform: uppercase;
    background-color:#141414;
    padding: 24px 59px;
    border: none;
    cursor: pointer;
}

.orange-box {
    position: absolute;
    bottom: 0;
    left: 979px;
    width: 489px;
    z-index: 10;
    height: 329px;
    background: #99823D;
}

.Vantage-studio-links {
    padding: 0;
    margin: 0;
    position: absolute;
    bottom: 0;
    width: 1140px;
    background:#FFF;
    display: flex;
    gap: 47px;
    background-color: #EBEBEB;
}

.Vantage-studio-links-item {
    list-style-type: none;
}

.Vantage-studio-link {
    color: #000;
    font-family: Open Sans;
    font-size: 12px;
    font-style: normal;
    font-weight: 400;
    line-height: 68px;
    letter-spacing: 2.975px;
    text-transform: uppercase;
    margin: 0;
    text-decoration: none;
}

.About-us{
    height: 926px;
    padding-top: 135px ;
    background-color: #EBEBEB;
}

.About-us-content {
    width: 1300px;
    margin: 0 auto;
}

.About-us-news {
    display: flex;
}

.About-us-descr {
    width: 684px;
    padding-left: 68px;
    padding-right: 68px;
}

.About-us-name {
    color: #99823D;
    font-family: Open Sans;
    font-size: 11px;
    font-style: normal;
    font-weight: 400;
    line-height: 16.575px;
    letter-spacing: 2.763px;
    text-transform: uppercase;
    margin: 0;    
}

.About-us-title {
    color: #141414;
    font-family: Teko;
    font-size: 67px;
    font-style: normal;
    font-weight: 400;
    line-height: 67.031px; /* 100.046% */
    text-transform: capitalize;
}

.About-us-text1 {
    color: #141414;
    font-family: Open Sans;
    font-size: 17px;
    font-style: normal;
    font-weight: 400;
    line-height: 25.5px; 
    margin: 0;
    margin-top: 16px;
}

.About-us-text2 {
    width: 673px;
    color: #141414;
    font-family: Open Sans;
    font-size: 17px;
    font-style: normal;
    font-weight: 400;
    line-height: 25.5px; 
    margin: 0;
    margin-top: 16px;
}

.News-card {
    width: 323px;
    padding: 36px 34px 42px 67px;
}

.News-card-text {
    color: #99823D;
    font-family: Open Sans;
    font-size: 11px;
    font-style: normal;
    font-weight: 400;
    line-height: 16.575px;
    letter-spacing: 2.763px;
    text-transform: uppercase;    
}

.News-card-title {
    color: #141414;
    font-family: Teko;
    font-size: 26px;
    font-style: normal;
    font-weight: 400;
    line-height: 26.112px;
    text-transform: capitalize;
    margin: 0;    
}

.Achievements {
    display: flex;
    gap: 66px;
    align-items:center;
    text-align: center;
    margin: 0;
    padding: 0;
    padding-left: 68px;
    margin-top: 45px;
}

.Achievements-item {
list-style-type: none;
}

.Achievements-title {
    color: #141414;
 
    font-family: Teko;
    font-size: 59px;
    font-style: normal;
    font-weight: 700;
    line-height: 58.65px;
    margin: 0;     
}

.Achievements-title span {
    color: #99823D;
    font-family: Open Sans;
    font-size: 12px;
    font-style: normal;
    font-weight: 400;
    line-height: 17.85px; 
    letter-spacing: 2.975px;
    text-transform: uppercase;
    margin: 0; 
}

.Achievements-dot {
    width: 15px;
    height: 9px;
    background: #99823D;
    list-style-type: none;
}

.rooms {
   height: 1000px; 
   display: flex;
   justify-content: center;
}

.rooms-cards {
    width: 1294px;
    position: relative;
    display: flex;
    bottom: 741px;
    justify-content: space-between;
    align-items: center;
    z-index: 30;
}

.room-card {
    display: flex;
    flex-direction: column;
    height: 398px;
}

.top-text {
    width: 108px;
    height: 36px;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 1000;
    position: absolute;
    top: 560px;
    background-color: #141414;
}

.top-text-text {
    margin: 0;
    color: #FFF;
    font-family: Open Sans;
    font-size: 11px;
    font-style: normal;
    font-weight: 400;
    line-height: 16.32px; /* 148.364% */
    letter-spacing: 2.72px;
    text-transform: uppercase;
}

.lines {
    position: relative;
    display: flex;
    justify-content: center;
    gap: 100px;
    top: 275px;
    right: 16px;
    z-index: 40;
}

.line {
    list-style-type: none;
    width: 1px;
    height: 275px;
    background-color: #ffffff;
}

.descr {
    background-color: #99823D;
    width: 202px;
    position: relative;
    bottom: 34px;
    padding: 0 0 69px 0;
    left: 210px;
    z-index: 40;
}

.descr-descr {
    margin: 0;
    color: #FFF;
    font-family: Open Sans;
    font-size: 11px;
    font-style: normal;
    font-weight: 400;
    text-align: center;
    line-height: 34px; /* 309.091% */
    letter-spacing: 2.763px;
    text-transform: uppercase;
}

.room-name {
    background: #000;
    width: 378px;
    height: 69px;
    z-index: 50;
    position: relative;
    bottom: 103px;
}

.room-name-name {
    color: #FFF;
    text-align: center;
    font-family: Teko;
    font-size: 26px;
    font-style: normal;
    font-weight: 400;
    line-height: 26.112px; /* 100.431% */
    text-transform: capitalize;
}