header {
    height: 66px;
    background-color: #141414;
}

.header-content {
    height: 68px;
    display: flex;
    justify-content: space-around;
}

.logo {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 326px;
    height: 136px;
    background-color: #99823D;
    z-index: 20;
    margin-left: 74px;
}

.navigation {
    width: 978px;
    height: 68px;
   display: flex;
   justify-content: space-between; 
   align-items: center;
}

.nav-text {
    width: 139px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 0;
    color: #FFF;
    text-align: center;
    font-family: Open Sans;
    font-size: 10px;
    font-style: normal;
    font-weight: 400;
    line-height: 15.3px;
}

.nav-text span {
    color: rgba(255, 255, 255, 0.75);
    text-align: center;
    font-family: Open Sans;
    font-size: 9px;
    font-style: normal;
    font-weight: 400;
    line-height: 15.3px;
}

.nav-list {
    width: 559px;
    height: 33px;
    display: flex;
  justify-content: space-between;
  align-items: center;
}

.nav-list-item {
    margin: 0;
    

    list-style-type: none;
}

.nav-list-link {
    text-decoration: none;
    color: #FFF;
    font-family: Open Sans;
    font-size: 11px;
    font-style: normal;
    font-weight: 400;
    line-height: 34px;
    letter-spacing: 2.763px;
    text-transform: uppercase;
}

.Vantage-studio {
    position: relative;
    background: #141414;
    height: 655px;
}

.Vantage-studio-content {
    width: 1300px;
    margin: 0 auto;
}

.Vantage-studio-card {
    position: absolute;
    top: 60px;
    left: 761px;
    background: #FFF;
    width: 449px;
    padding: 67px;
    z-index: 20;
}

.Vantage-studio-name {
   color: #99823D;
    font-family: Open Sans;
    font-size: 11px;
    font-style: normal;
    font-weight: 400;
    line-height: 16.575px; 
    letter-spacing: 2.763px;
    text-transform: uppercase;
    margin: 0;
}

.Quote {
    color: #141414;
    font-family: Teko;
    font-size: 67px;
    font-style: normal;
    font-weight: 400;
    line-height: 67.031px; 
    text-transform: capitalize;
    margin: 0;
    margin-bottom: 32px;
}

.Vantage-studio-text {
    color: #141414;
    font-family: Open Sans;
    font-size: 17px;
    font-style: normal;
    font-weight: 400;
    line-height: 25.5px;
    margin: 0; 
}

.Vantage-studio-btns {
    display: flex;
    padding: 0;
    gap: 17px;
}

.Vantage-studio-btn1 {
    color: #FFF;
    text-align: center;
    font-family: Open Sans;
    font-size: 12px;
    font-style: normal;
    font-weight: 400;
    line-height: 17.85px; /* 148.75% */
    letter-spacing: 2.975px;
    text-transform: uppercase;
    padding: 0;
    padding: 24px 69px;
    background-color: #99823D;
    border: none;    
    cursor: pointer;
}

.Vantage-studio-btn2 {
    color: #FFF;
    text-align: center;
    font-family: Open Sans;
    font-size: 12px;
    font-style: normal;
    font-weight: 400;
    line-height: 17.85px; /* 148.75% */
    letter-spacing: 2.975px;
    text-transform: uppercase;
    background-color:#141414;
    padding: 24px 59px;
    border: none;
    cursor: pointer;
}

.orange-box {
    position: absolute;
    bottom: 0;
    left: 979px;
    width: 489px;
    z-index: 10;
    height: 329px;
    background: #99823D;
}

.Vantage-studio-links {
    padding: 0;
    margin: 0;
    position: absolute;
    bottom: 0;
    width: 1140px;
    background:#FFF;
    display: flex;
    gap: 47px;
    background-color: #EBEBEB;
}

.Vantage-studio-links-item {
    list-style-type: none;
}

.Vantage-studio-link {
    color: #000;
    font-family: Open Sans;
    font-size: 12px;
    font-style: normal;
    font-weight: 400;
    line-height: 68px;
    letter-spacing: 2.975px;
    text-transform: uppercase;
    margin: 0;
    text-decoration: none;
}

.About-us{
    height: 926px;
    padding-top: 135px ;
    background-color: #EBEBEB;
}

.About-us-content {
    width: 1300px;
    margin: 0 auto;
}

.About-us-news {
    display: flex;
}

.About-us-descr {
    width: 684px;
    padding-left: 68px;
    padding-right: 68px;
}

.About-us-name {
    color: #99823D;
    font-family: Open Sans;
    font-size: 11px;
    font-style: normal;
    font-weight: 400;
    line-height: 16.575px;
    letter-spacing: 2.763px;
    text-transform: uppercase;
    margin: 0;    
}

.About-us-title {
    color: #141414;
    font-family: Teko;
    font-size: 67px;
    font-style: normal;
    font-weight: 400;
    line-height: 67.031px; /* 100.046% */
    text-transform: capitalize;
}

.About-us-text1 {
    color: #141414;
    font-family: Open Sans;
    font-size: 17px;
    font-style: normal;
    font-weight: 400;
    line-height: 25.5px; 
    margin: 0;
    margin-top: 16px;
}

.About-us-text2 {
    width: 673px;
    color: #141414;
    font-family: Open Sans;
    font-size: 17px;
    font-style: normal;
    font-weight: 400;
    line-height: 25.5px; 
    margin: 0;
    margin-top: 16px;
}

.News-card {
    width: 323px;
    padding: 36px 34px 42px 67px;
}

.News-card-text {
    color: #99823D;
    font-family: Open Sans;
    font-size: 11px;
    font-style: normal;
    font-weight: 400;
    line-height: 16.575px;
    letter-spacing: 2.763px;
    text-transform: uppercase;    
}

.News-card-title {
    color: #141414;
    font-family: Teko;
    font-size: 26px;
    font-style: normal;
    font-weight: 400;
    line-height: 26.112px;
    text-transform: capitalize;
    margin: 0;    
}

.Achievements {
    display: flex;
    gap: 66px;
    align-items:center;
    text-align: center;
    margin: 0;
    padding: 0;
    padding-left: 68px;
    margin-top: 45px;
}

.Achievements-item {
list-style-type: none;
}

.Achievements-title {
    color: #141414;
 
    font-family: Teko;
    font-size: 59px;
    font-style: normal;
    font-weight: 700;
    line-height: 58.65px;
    margin: 0;     
}

.Achievements-title span {
    color: #99823D;
    font-family: Open Sans;
    font-size: 12px;
    font-style: normal;
    font-weight: 400;
    line-height: 17.85px; 
    letter-spacing: 2.975px;
    text-transform: uppercase;
    margin: 0; 
}

.Achievements-dot {
    width: 15px;
    height: 9px;
    background: #99823D;
    list-style-type: none;
}

.rooms {
    height: 419px;
    display: flex;
    justify-content: center;
}

.rooms-cards {
    width: 1294px;
    position: relative;
    display: flex;
    bottom: 471px;
    justify-content: space-between;
    align-items: center;
    z-index: 30;
}

.room-card {
    display: flex;
    flex-direction: column;
    height: 398px;
}

.top-text {
    width: 108px;
    height: 36px;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 1000;
    position: absolute;
    top: 270px;
    background-color: #141414;
}

.top-text-text {
    color: #FFF;
    font-family: Open Sans;
    font-size: 11px;
    font-style: normal;
    font-weight: 400;
    line-height: 16.32px; /* 148.364% */
    letter-spacing: 2.72px;
    text-transform: uppercase;
}

.lines {
    position: relative;
    display: flex;
    justify-content: center;
    gap: 100px;
    top: 275px;
    right: 16px;
    z-index: 40;
}

.line {
    list-style-type: none;
    width: 1px;
    height: 275px;
    background-color: #ffffff;
}

.descr {
    background-color: #99823D;
    width: 202px;
    position: relative;
    bottom: 34px;
    padding: 0 0 69px 0;
    left: 210px;
    z-index: 40;
}

.descr-descr {
    margin: 0;
    color: #FFF;
    font-family: Open Sans;
    font-size: 11px;
    font-style: normal;
    font-weight: 400;
    text-align: center;
    line-height: 34px; /* 309.091% */
    letter-spacing: 2.763px;
    text-transform: uppercase;
}

.room-name {
    background: #000;
    width: 378px;
    height: 69px;
    z-index: 50;
    position: relative;
    bottom: 103px;
}

.room-name-name {
    color: #FFF;
    text-align: center;
    font-family: Teko;
    font-size: 26px;
    font-style: normal;
    font-weight: 400;
    line-height: 26.112px; /* 100.431% */
    text-transform: capitalize;
}

.Dot {
    width: 16px;
    height: 16px;
    background: #000;
    position: relative;
    bottom: -292px;
    right: 669px;
    list-style-type: none;
}


.Services {
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 822px;
    padding: 0 64px;
}

.services-subtitle {
    margin-top: 3px;
    color: #99823D;
    font-family: 'Open Sans', sans-serif;
    font-size: 11px;
    font-weight: 400;
    line-height: 16.575px; /* 150.682% */
    letter-spacing: 2.763px;
    text-transform: uppercase;
}

.services-title {
    margin-top: 5px;
    width: 801px;
    color:#141414;
    text-align: center;
    font-family: 'Teko', sans-serif;
    font-size: 53px;
    font-weight: 700;
    line-height: 52.955px; /* 99.915% */
    text-transform: capitalize;
}

.services-content {
    display: flex;
    justify-content: center;
    margin-top: 54px;
    width: 1312px;
    margin-bottom: 90px;
    position: relative;
    right: -56px;
    flex-wrap: wrap;
}

.services1 {
    display: flex;
}

.services2 {
    display: flex;
}

.service {
    width: 391px;
    height: 228px;
}

.service-descr {
    display: flex;
    gap: 17px;
}

.service-index {
    margin-top: 4px;
    color: #99823D;
    font-family: 'Open Sans', sans-serif;
    font-size: 11px;
    font-weight: 400;
    line-height: 16.575px; /* 150.682% */
    letter-spacing: 2.763px;
    text-transform: uppercase;
}

.service-name {
    margin-top: 11px;
    color:#141414;
    font-family: 'Teko', sans-serif;
    font-size: 26px;
    font-weight: 400;
    line-height: 26.112px; /* 100.431% */
    text-transform: capitalize;
}

.service-text {
    width: 277px;
    margin-top: 18px;
    color: #141414;
    font-family: 'Open Sans', sans-serif;
    font-size: 17px;
    font-weight: 400;
    line-height: 25.5px;
}

.services-button {
    padding: 0;
    color: #FFF;
    text-align: center;
    font-family: Open Sans;
    font-size: 12px;
    font-style: normal;
    font-weight: 400;
    line-height: 17.85px;
    letter-spacing: 2.975px;
    text-transform: uppercase;
    border: none;
    background: #99823D;
    padding: 25px 120px;
    display: flex;
    margin: 0 auto;
}

.logos {
    padding: 0 68px;
    position: relative;
    bottom: -174px;
    height: 388px;
    background: #ebebeb;
}

.logos-content {
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    height: 174px;
    padding: 0 12px;
}

.logo1 {
    list-style-type: none;
}

.dot {
    width: 9px;
    height: 9px;
    background: #99823D;
}



.footer {
    position: relative;
    padding: 0 136px;
    height: 239px;
    background: #141414;;
}

.footer-content {
    height: 160px;
    width: 1419px;
    margin-top: 174.7px;
    display: flex;
    justify-content: space-between;
    position: relative;
    left: -64px;
    top: -160px;
    background: #3d3d3d;
    align-items: center;
}

.footer-content img {
    bottom: -22px;
    left: 67px;
    position: relative;
}

.footer-nav-content {
    display: flex;
    position: relative;
    gap: 37px;
    right: 49px;
    bottom: -25px;
    align-items: center;
}

.footer-nav-item {
    list-style-type: none;
}

.footer-nav-link {
    color: #FFF;
    text-align: center;
    font-family: Open Sans;
    font-size: 11px;
    font-style: normal;
    font-weight: 400;
    line-height: 34px; /* 309.091% */
    letter-spacing: 2.763px;
    text-transform: uppercase;
    text-decoration: none;
}

.footer-form {
    position: absolute;
    top: -32px;
    display: flex;
    align-items: center;
    gap: 17px;
    padding: 0 68px;
    width: 1168px;
    height: 204px;
    background: #99823D;
}

.form {
    display: flex;
    padding-left: 39px;
    width: 860px;
    height: 68px;
    border: none;
    outline: none;
}

.form::placeholder {
    color: #3d3d3d;
    font-family: 'Open Sans', sans-serif;
    font-size: 11px;
    font-weight: 700;
    line-height: 34px; /* 309.091% */
    letter-spacing: 2.763px;
    text-transform: uppercase;
}

.form-button {
    width: 155px;
    height: 68px;
    color: #FFF;
    background: #000;
    text-align: center;
    font-family: Open Sans;
    font-size: 11px;
    font-style: normal;
    font-weight: 700;
    line-height: 34px;
    letter-spacing: 2.763px;
    border: none;
    text-transform: uppercase;
}

.footer-text {
    position: absolute;
    bottom: 0px;
    display: flex;
    padding: 0 8px;
    gap: 653px;
}

.footer-links-content {
    display: flex;
    gap: 36px;
}

.footer-links-item {
    list-style-type: none;
}

.footer-links-link {
    color: #FFF;
    text-align: center;
    font-family: Open Sans;
    font-size: 11px;
    font-style: normal;
    font-weight: 400;
    line-height: 34px; /* 309.091% */
    letter-spacing: 2.763px;
    text-transform: uppercase;
    text-decoration: none;
}

.By {
    display: flex;
    width: 210px;
    align-items: center;
    justify-content: space-between;
}

.By-text {
    color: rgba(255, 255, 255, 0.75);
    text-align: center;
    font-family: Open Sans;
    font-size: 11px;
    font-style: normal;
    font-weight: 400;
    line-height: 34px; /* 309.091% */
    letter-spacing: 2.763px;
    text-transform: uppercase;
}

.By-link {
    color: #FFF;
    text-align: center;
    font-family: Open Sans;
    font-size: 11px;
    font-style: normal;
    font-weight: 400;
    line-height: 34px; /* 309.091% */
    letter-spacing: 2.763px;
    text-transform: uppercase;
    text-decoration: none;
}